<!DOCTYPE html>
<html>
  <head>
    <title>Nexaas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='content'>
        <% if current_user %>
          <%= link_to 'SAIR', session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to 'login', new_session_path %>
          <%= link_to 'Criar conta', new_registration_path %>
        <% end %>
      </div>
    </header>

    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
