<!DOCTYPE html>
<html>
  <head>
    <title>Nexxas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= link_to 'SAIR', session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to 'Login', new_session_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
